@import './settings.styl';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html
body
    background: $background-color-site
    font-family: Roboto

div
    box-sizing: content-box
.gridItem
    width: 210px